/app/Console/Commands/SetupDevelopmentEnvironment.php
/node_modules
/public/hot
/public/storage
/bootstrap/cache/config.php
/storage/*
/storage/*.key
/storage/*.index
/storage/framework/cache/*
/config/*
/tests/*
/database/migrations/*
/vendor
/resources/babel.babel
.idea
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
.vscode/
_ide_helper.php
.rnd
.styleci.yml
phpunit.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
prettier.json
webpack.mix.js
